<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Spittr</title>
</head>
<body>
<h1>Register</h1>
<form method="POST" th:object="${spitter}">
<div class="errors" th:if="${#fields.hasErrors('*')}">
<ul>
<li th:each="err : ${#fields.errors('*')}"
th:text="${err}">Input is incorrect</li>
</ul>
</div>

<label th:class="${#fields.hasErrors('firstName')}? 'error'">
First Name</label>:
<input type="text" th:field="*{firstName}"
th:class="${#fields.hasErrors('firstName')}? 'error'" /><br/>

<label th:class="${#fields.hasErrors('lastName')}? 'error'">
Last Name</label>:
<input type="text" th:field="*{lastName}"
th:class="${#fields.hasErrors('lastName')}? 'error'" /><br/>

<label th:class="${#fields.hasErrors('userName')}? 'error'">
UserName</label>:
<input type="text" th:field="*{userName}"
th:class="${#fields.hasErrors('userName')}? 'error'" /><br/>


<label th:class="${#fields.hasErrors('password')}? 'error'">
Password</label>:
<input type="password" th:field="*{password}"
th:class="${#fields.hasErrors('password')}? 'error'" /><br/>

<input type="submit" value="Register" />
</form>


<table>
<tr>
        <td>firstName</td>
        <td>lastName</td>
        <td>userName</td>
        <td>password</td>
        <td>Create date</td>
    </tr>
    <tr data-th-each="spitter : ${spitters}">
        <td data-th-text="${spitter.firstName}">...</td>
        <td data-th-text="${spitter.lastName}">...</td>
            <td data-th-text="${spitter.userName}">...</td>
            <td data-th-text="${spitter.password}">...</td>
            <td data-th-text="${spitter.createDate}">...</td>
    </tr>
</table>
</body>
</html>